@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-link: var(--link);
  --color-error: var(--error);
  --color-bg-base: var(--bg-base);
  --color-text-base: var(--text-base);
}

:root {
  --primary: #20c482;
  --link: oklch(62.3% 0.214 259.815);
  --error: #fb2c36;
  --bg-base: #ffffff;
  --text-base: #141414;
}

.dark {
  --primary: #20c482;
  --link: oklch(62.3% 0.214 259.815);
  --error: #fb2c36;
  --bg-base: #141414;
  --text-base: #ffffff;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--bg-base);
  color: var(--text-base);
}

button {
  cursor: pointer;
}
:disabled {
  cursor: not-allowed;
}
